{% load static %}
<!DOCTYPE html>
<html lang="en">
<div style="overflow:scroll; width:100%; height:1000px;">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Aroma Shop - Login</title>
		<link rel="icon" href='{% static "img/dFevicon.png" %}' type="image/png" />
		<link rel="stylesheet" href='{% static "vendors/bootstrap/bootstrap.min.css" %}' />
		<link rel="stylesheet" href='{% static "vendors/fontawesome/css/all.min.css" %}' />
		<link rel="stylesheet" href='{% static "vendors/themify-icons/themify-icons.css" %}' />
		<link rel="stylesheet" href='{% static "vendors/nice-select/nice-select.css" %}' />
		<link rel="stylesheet" href='{% static "vendors/owl-carousel/owl.theme.default.min.css" %}' />
		<link rel="stylesheet" href='{% static "vendors/owl-carousel/owl.carousel.min.css" %}' />

		<link rel="stylesheet" href='{% static "css/style.css" %}' />

		<link rel="manifest" href="finish/templates/manifest.json" />

		<!-- CODELAB: Add iOS meta tags and icons -->
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<meta name="apple-mobile-web-app-title" content="DDINGDONG" />
		<link rel="apple-touch-icon" href="static/img/icons/icon-144x144.png" />

		<!-- CODELAB: Add description here -->
		<meta name="description" content="통합 중고 제품 검색" />

		<!-- CODELAB: Add meta theme-color -->
		<meta name="theme-color" content="#0E6EEB" />

		<!-- CODELAB: Add the install script here -->
		<script src="finish/templates/install.js"></script>
	</head>

	<body>
		<!--================ Start Header Menu Area =================-->
		<header class="header_area">
			<div class="main_menu">
				<nav class="navbar navbar-expand-lg navbar-light">
					<div class="container">
						<a class="navbar-brand logo_h" href="/">
							<img src='{% static "img/dlogo.png" %}' alt="" /></a>
						<button class="navbar-toggler" type="button" data-toggle="collapse"
							data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
							aria-expanded="false" aria-label="Toggle navigation">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<div class="collapse navbar-collapse offset" id="navbarSupportedContent">
							<ul class="nav navbar-nav menu_nav ml-auto mr-auto">
								<li class="nav-item">
									<a class="nav-link" href="/">Home</a>
								</li>
								<li class="nav-item active submenu dropdown">
									<a href="index" class="nav-link dropdown-toggle" data-toggle="dropdown"
										role="button" aria-haspopup="true" aria-expanded="false">Shop</a>
									<ul class="dropdown-menu">
										<li class="nav-item">
											<a class="nav-link" href="https://www.daangn.com/">당근마켓</a>
										</li>
										<li class="nav-item">
											<a class="nav-link" href="https://www.hellomarket.com/">헬로마켓</a>
										</li>
										<li class="nav-item">
											<a class="nav-link" href="https://www.withsellit.com/">셀잇</a>
										</li>
									</ul>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="mypage.html">MyPage</a>
								</li>
							</ul>

							<ul class="nav-shop">
								<li class="nav-item">
									<a class="button button-header" href="../login/">Login</a>
								</li>
							</ul>
						</div>
					</div>
				</nav>
			</div>
		</header>
		<!--================ End Header Menu Area =================-->

		<!-- ================ start banner area ================= -->
		<section class="blog-banner-area" id="category">
			<div class="container h-100">
				<div class="blog-banner">
					<div class="text-center">
						<h1>Sign Up</h1>
						<nav aria-label="breadcrumb" class="banner-breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item">DDINGDONG</a></li>
								<li class="breadcrumb-item active" aria-current="page">PROJECT</li>
							</ol>
						</nav>
					</div>
				</div>
			</div>
		</section>
		<!-- ================ end banner area ================= -->

		<!--================Login Box Area =================-->
		<section class="login_box_area section-margin">
			<div class="container">
				<div class="row">
					<div class="col-lg-6">
						<div class="login_box_img">
							<div class="hover">
								<h4>이미 회원이신가요?</h4>
								<br />
								<a class="button button-account" href="../login">Login Now</a>
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="login_form_inner register_form_inner">
							<h3>회원가입</h3>
							<div class="row mt-5">
								<div class="col-12">
									{{error}}
								</div>
							</div>
							<form class="row login_form" action="." id="signup" , method="POST">
								{% csrf_token %}
								<div class="col-md-12 form-group">
									<input type="text" class="form-control" id="username" name="username"
										placeholder="사용자 이름">
								</div>
								<div class="col-md-12 form-group">

									<input type="email" class="form-control" id="useremail" name="useremail"
										placeholder="사용자 이메일">
								</div>
								<div class="col-md-12 form-group">
									<input type="password" class="form-control" id="password" name="password"
										placeholder="비밀번호">
								</div>
								<div class="col-md-12 form-group">
									<input type="password" class="form-control" id="re_password" name="re_password"
										placeholder="비밀번호 확인">
								</div>
								<div class="col-md-12 form-group">
								</div>
								<div class="col-md-12 form-group">
									<button type="submit" value="submit" class="button button-register w-100"
										href="/finish/login">회원가입</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--================End Login Box Area =================-->


		<!--================ Start footer Area  =================-->
		<footer>
			<div class="footer-area">
				<div class="container">
					<div class="row section_gap">
						<div class="col-lg-3 col-md-6 col-sm-6">
							<div class="single-footer-widget tp_widgets">
								<h4 class="footer_title large_title">OUR PROJECT</h4>
								<p>
									크롤링을 이용한 통합 환경 중고 제품 서칭 애플리케이션 제작 프로젝트
								</p>
								<p>
									컴퓨터공학과 <br />
									201535003 강성구 <br />
									201535004 강영욱 <br />
									201535024 용석주
								</p>
							</div>
						</div>

						<div class="offset-lg-1 col-lg-3 col-md-6 col-sm-6">
							<div class="single-footer-widget tp_widgets">
								<h4 class="footer_title">Contact Us</h4>
								<div class="ml-40">
									<p class="sm-head">
										<span class="fa fa-location-arrow"></span>
										성공회대학교
									</p>
									<p>08359 서울시 구로구 연동로 320</p>

									<p class="sm-head">
										<span class="fa fa-phone"></span>
										전화
									</p>
									<p>
										T. 02-2610-4114 <br />
										F. 02-2683-8858
									</p>

									<p class="sm-head">
										<span class="fa fa-envelope"></span>
										이메일
									</p>
									<p>
										ddingdong@skhu.ac.kr
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-header">

				<!-- Header section containing title -->

				<div class="footer-bottom">
					<div class="container">
						<div class="row d-flex">
							<p class="col-lg-12 footer-text text-center">
								<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
								Copyright &copy;
								<script>document.write(new Date().getFullYear());</script> All rights reserved | This
								template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a
									href="https://colorlib.com" target="_blank">Colorlib</a>
								<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
							</p>
						</div>
					</div>
				</div>
		</footer>
		<!--================ End footer Area  =================-->
		<script src='{% static "vendors/jquery/jquery-3.2.1.min.js" %}'></script>
		<script src='{% static "vendors/bootstrap/bootstrap.bundle.min.js" %}'></script>
		<script src='{% static "vendors/skrollr.min.js" %}'></script>
		<script src='{% static "vendors/owl-carousel/owl.carousel.min.js" %}'></script>
		<script src='{% static "vendors/nice-select/jquery.nice-select.min.js" %}'></script>
		<script src='{% static "vendors/jquery.ajaxchimp.min.js" %}'></script>
		<script src='{% static "vendors/mail-script.js" %}'></script>
		<script src='{% static "js/main.js" %}'></script>
</div>
</body>

</html>